
* {-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          border: 1px solid #6AC5AC;}


.navbar_ul_links {
	list-style: none;
	padding: 0%;
}
.navbar_li_links {
 display: inline;
}


.sidebar_content{display: inline-block;
  background-color: grey;
width: 17%;
vertical-align: top;


}

.maincontent_div {
display: inline-block;
background-color: red;
height: 700px;
width: 77%;
vertical-align: top;
}


.sidebar_linklist{
	list-style: none;
	padding: 0px;
}


.sidebar_title {
	margin: 0px;
}

.test_img_div {
	width: 210px;
    height: 163px;
}
.grid_point1 {

	width: 213px;
	height: 205px;
	background-color: #FFFFFF;
	font-size: 65%;
}
// .image_foot_div {
// 	position: relative;
// }
.title_div{
	
	font-family: 'News Cycle', sans-serif;
}
.shopname_price_div{
	position: relative;
	
	font-family: 'News Cycle', sans-serif;
a {
	color: #A1A1A1;
	text-decoration: none;
}


}


.test_price {
	float: right;
	color: #78BD41; 
	margin-right: 1%;
	margin-bottom: 1%;
	
}
